<div class="col-md-4">
  <blockquote class="section-header" border-orange-A700-left-5 color-white>
    <h1 class="strip" text-blue>
      Background</h1>
    <footer>
      Adding color to element's background</footer>
  </blockquote>
  <section class="panel">
    <article class="panel-body">
      <p>You can add the background color to any element doing any of the following</p>
      <p>Lets say we were going to use two colors, blue, and orange-700</p>
    </article>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the full color as an attribute</dt>
      <dd>
        &lt;div <strong text-blue>color-blue</strong>&gt;&lt;/div&gt;</dd>
      <dd>
        &lt;div <strong text-orange-700>color-orange-700</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name within the color attribute</dt>
      <dd>
          &lt;div <strong text-blue>color="blue"</strong>&gt;&lt;/div&gt;</dd>
      <dd>
          &lt;div <strong text-orange-700>color="orange-700"</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name using the CSS class</dt>
      <dd>
        &lt;div <strong text-blue>class="color-blue"</strong>&gt;&lt;/div&gt;</dd>
      <dd>
        &lt;div <strong text-orange-700>class="color-orange-700"</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
</div>