<div class="col-md-4">
  <blockquote class="section-header" border-orange-A700-left-5 color-white>
    <h1 class="strip" text-blue>
      Buttons</h1>
    <footer>
      Adding color to button backgrounds</footer>
  </blockquote>
  <section class="panel">
    <article class="panel-body">
      <p>You can add the background color to any &lt;button&gt; or &lt;a&gt; doing any of the following</p>
      <p>Lets say we were going to use two colors, green, and red-400</p>
    </article>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the full color as an attribute</dt>
      <dd>
        &lt;button <strong text-green>btn-green</strong>&gt;&lt;/button&gt;</dd>
      <dd>
        &lt;button <strong text-red-400>btn-red-400</strong>&gt;&lt;/button&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name within the color attribute</dt>
      <dd>
          &lt;button <strong text-green>btn-color="green"</strong>&gt;&lt;/button&gt;</dd>
      <dd>
          &lt;button <strong text-red-400>btn-color="red-400"</strong>&gt;&lt;/button&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name using the CSS class</dt>
      <dd>
        &lt;button <strong text-green>class="btn-green"</strong>&gt;&lt;/button&gt;</dd>
      <dd>
        &lt;button <strong text-red-400>class="btn-red-400"</strong>&gt;&lt;/button&gt;</dd>
    </dl>
  </section>
</div>