<div class="col-md-4">
  <blockquote class="section-header" border-orange-A700-left-5 color-white>
    <h1 class="strip" text-blue>
      Typography</h1>
    <footer>
      Adding color to your text.</footer>
  </blockquote>
  <section class="panel">
    <article class="panel-body">
      <p>You can add the color to any element doing any of the following</p>
      <p>Lets say we were going to use two colors, purple, and pink-300</p>
    </article>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the full color as an attribute</dt>
      <dd>
        &lt;div <strong text-purple>text-purple</strong>&gt;&lt;/div&gt;</dd>
      <dd>
        &lt;div <strong text-pink-300>text-pink-300</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name within the color attribute</dt>
      <dd>
          &lt;div <strong text-purple>text-color="purple"</strong>&gt;&lt;/div&gt;</dd>
      <dd>
          &lt;div <strong text-pink-300>text-color="pink-300"</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name using the CSS class</dt>
      <dd>
        &lt;div <strong text-purple>class="text-purple"</strong>&gt;&lt;/div&gt;</dd>
      <dd>
        &lt;div <strong text-pink-300>class="text-pink-300"</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
  <!-- <section class="panel">
    <article class="panel-body">
      <p>If you want to use these same colors for &lt;a href&gt; elements, that use :hover, :focus, :active, or .active; use the following.</p>
      <p>Lets say we were going to use two colors, cyan, and teal-A400</p>
    </article>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the full color as an attribute</dt>
      <dd>
        &lt;div <strong link-cyan>link-cyan</strong>&gt;&lt;/div&gt;</dd>
      <dd>
        &lt;div <strong link-teal-A400>link-teal-A400</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name within the color attribute</dt>
      <dd>
          &lt;div <strong link-cyan>link-color="cyan"</strong>&gt;&lt;/div&gt;</dd>
      <dd>
          &lt;div <strong link-teal-A400>link-color="teal-A400"</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section>
  <section class="panel list-examples">
    <dl>
      <dt>
        Declare the color name using the CSS class</dt>
      <dd>
        &lt;div <strong link-cyan>class="link-cyan"</strong>&gt;&lt;/div&gt;</dd>
      <dd>
        &lt;div <strong link-teal-A400>class="link-teal-A400"</strong>&gt;&lt;/div&gt;</dd>
    </dl>
  </section> -->
</div>